*{
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:#FFD1C1;
}

.Container{
    background-image:linear-gradient(to right,rgb(10, 146, 140), rgb(82, 63, 123));
    height: 500px;
    width: 450px;
    padding: 60px;
    border-radius: 70px;
    box-shadow: 10px 10px 10px gray;
    box-sizing: border-box;
}

div h2{
    display: block;
    font-size: x-large;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: white;
    text-align: center;
}  
#username{
    margin-bottom: 40px;
}
.login-form{
label{
    font-size: large;
    color: #D3D3D3;
    
    display: block;
    margin-bottom: 5px;
    margin-left: 20px;
}
input{
    width: 300px;
    padding: 10px;
    border-radius: 80px;
    height: 20px;
    border: none;
    text-align: left;
    margin-bottom: 0px;
}
button{
    width: 325px;
    font-weight: bold;
    font-size: x-large;
    padding: 10px;
    border-radius: 20px;
    background-color:#42A5F5;
    border: none;
    color: white;
    margin-top: 30px;
}
}
